<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>@ViewData["Title"] - TramSac99</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&family=Manrope:wght@600;700;800&display=swap" rel="stylesheet">

    <link href="~/user/assets/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/user/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/user/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/user/assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="~/user/assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
    <link href="~/user/assets/css/aos.css" rel="stylesheet" />
    <link href="~/user/assets/css/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link href="~/css/user-unified-theme.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/user-enterprise.css" rel="stylesheet" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body class="user-site-shell">
    @RenderBody()

    <script src="~/user/assets/js/jquery-3.7.1.min.js"></script>
    <script src="~/user/assets/js/popper.min.js"></script>
    <script src="~/user/assets/js/bootstrap.min.js"></script>
    <script src="~/user/assets/js/owl.carousel.js"></script>
    <script src="~/user/assets/js/aos.js"></script>
    <script src="~/user/assets/js/video-popup.js"></script>
    <script src="~/user/assets/js/animation.js"></script>
    <script src="~/user/assets/js/carousel.js"></script>
    <script src="~/user/assets/js/back-to-top-button.js"></script>
    <script src="~/user/assets/js/video.js"></script>
    <script src="~/user/assets/js/search.js"></script>
    <script src="~/js/pagination.js"></script>
    <script src="~/js/map4d-common.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

