USE [master]
GO
/****** Object:  Database [tramsac99]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE DATABASE [tramsac99]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tramsac99', FILENAME = N'D:\Toan\t\MSSQL16.SQLEXPRESS\MSSQL\DATA\tramsac99.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tramsac99_log', FILENAME = N'D:\Toan\t\MSSQL16.SQLEXPRESS\MSSQL\DATA\tramsac99_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tramsac99].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tramsac99]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_AppUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChargingPoles]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargingPoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StationId] [int] NOT NULL,
	[PoleCode] [nvarchar](50) NOT NULL,
	[MaxPower] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[ChargerType] [nvarchar](100) NULL,
 CONSTRAINT [PK_ChargingPoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChargingPorts]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargingPorts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PoleId] [int] NOT NULL,
	[PortCode] [nvarchar](50) NOT NULL,
	[ConnectorType] [nvarchar](100) NULL,
	[MaxPower] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_ChargingPorts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChargingStations]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargingStations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ChargerType] [nvarchar](100) NULL,
	[Power] [nvarchar](50) NULL,
	[PricePerKwh] [decimal](18, 2) NOT NULL,
	[OwnerUserId] [int] NULL,
	[MonthlyMaintenanceFee] [decimal](18, 2) NOT NULL,
	[LastMaintenancePaidAt] [datetime2](7) NULL,
	[MaintenancePaidUntil] [datetime2](7) NULL,
	[MaintenancePaymentStatus] [nvarchar](30) NOT NULL,
	[system_status] [nvarchar](30) NOT NULL,
	[operation_status] [nvarchar](40) NOT NULL,
	[maintenance_fee_status] [nvarchar](40) NOT NULL,
	[maintenance_fee_due_date] [datetime2](7) NULL,
	[maintenance_fee_paid_at] [datetime2](7) NULL,
	[maintenance_fee_grace_until] [datetime2](7) NULL,
	[is_visible] [bit] NOT NULL,
	[hidden_reason] [nvarchar](300) NULL,
	[last_maintenance_payment_id] [int] NULL,
 CONSTRAINT [PK_ChargingStations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteStations]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteStations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StationId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FavoriteStations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
	[RequestedByIp] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StationId] [int] NULL,
	[RegistrationRequestId] [int] NULL,
	[PaymentType] [nvarchar](40) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PayOsOrderCode] [bigint] NULL,
	[PayOsCheckoutUrl] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Note] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PaidAt] [datetime2](7) NULL,
	[CancelledAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteHistories]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RouteName] [nvarchar](200) NOT NULL,
	[StartName] [nvarchar](250) NOT NULL,
	[StartAddress] [nvarchar](500) NULL,
	[StartLatitude] [float] NOT NULL,
	[StartLongitude] [float] NOT NULL,
	[EndName] [nvarchar](250) NOT NULL,
	[EndAddress] [nvarchar](500) NULL,
	[EndLatitude] [float] NOT NULL,
	[EndLongitude] [float] NOT NULL,
	[TotalDistanceKm] [float] NOT NULL,
	[FirstLegKm] [float] NOT NULL,
	[VehicleRangeKm] [int] NOT NULL,
	[StartBattery] [int] NOT NULL,
	[ReserveBattery] [int] NOT NULL,
	[MaxDetourKm] [int] NOT NULL,
	[StopCount] [int] NOT NULL,
	[StopsJson] [nvarchar](max) NULL,
	[RoutePathJson] [nvarchar](max) NULL,
	[IsFavorite] [bit] NOT NULL,
	[IsShared] [bit] NOT NULL,
	[ShareToken] [nvarchar](80) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[LastUsedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[station_activity_logs]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[station_activity_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[station_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[action_type] [nvarchar](80) NOT NULL,
	[old_value] [nvarchar](1000) NULL,
	[new_value] [nvarchar](1000) NULL,
	[description] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_station_activity_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationOperationRequests]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationOperationRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StationId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[RequestType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[RequestedStationStatus] [nvarchar](50) NULL,
	[PoleId] [int] NULL,
	[PoleCode] [nvarchar](50) NULL,
	[PoleMaxPower] [nvarchar](50) NULL,
	[RequestedPoleStatus] [nvarchar](50) NULL,
	[UserNote] [nvarchar](1000) NULL,
	[AdminNote] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationRegistrationRequests]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationRegistrationRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StationName] [nvarchar](200) NOT NULL,
	[OperatorName] [nvarchar](200) NOT NULL,
	[ContactEmail] [nvarchar](150) NOT NULL,
	[ContactPhone] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ImageUrl] [nvarchar](300) NULL,
	[InitialPoleCount] [int] NOT NULL,
	[InitialPoleMaxPower] [nvarchar](50) NULL,
	[InitialPoleNote] [nvarchar](1000) NULL,
	[ApprovalStatus] [nvarchar](30) NOT NULL,
	[PaymentStatus] [nvarchar](30) NOT NULL,
	[PayOsOrderCode] [bigint] NULL,
	[PayOsCheckoutUrl] [nvarchar](500) NULL,
	[FeeAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[PaidAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[AdminNote] [nvarchar](1000) NULL,
	[CreatedStationId] [int] NULL,
	[InitialPoleChargerType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationReviews]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StationId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_StationReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRequests]    Script Date: 28/05/2026 11:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [int] NULL,
	[SenderUserName] [nvarchar](100) NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[Subject] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[AdminReply] [nvarchar](1000) NULL,
	[LastStatusChangedAt] [datetime2](7) NULL,
	[IsUserSeen] [bit] NOT NULL,
	[UserSeenAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260320084525_InitChargingStationDb', N'8.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260327013359_AddAppUserTable', N'8.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260328062438_AddAuthAndUserRole', N'8.0.25')
GO
SET IDENTITY_INSERT [dbo].[AppUsers] ON 

INSERT [dbo].[AppUsers] ([Id], [Username], [Email], [FullName], [CreatedAt], [IsBlocked], [PasswordHash], [Role], [AvatarUrl]) VALUES (1, N'admin', N'admin@example.com', N'Admin User', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, N'AQAAAAIAAYagAAAAEJu0LHG1GwEqIABm7KKpA9XtayN4cUvUOhyaePcmM6eLA7aMKJ9FnFwpOaCf67G/cg==', N'Admin', N'/uploads/avatars/3a8066a68eec49e1881c6b36085df651.png')
INSERT [dbo].[AppUsers] ([Id], [Username], [Email], [FullName], [CreatedAt], [IsBlocked], [PasswordHash], [Role], [AvatarUrl]) VALUES (2, N'user1', N'user1@example.com', N'User One', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, N'AQAAAAIAAYagAAAAEMnu66K46uSMUGwf5l175MhJIxCgG13X/kIs5+/+71vY48vUB17+65+TOaIQhqcK4A==', N'User', NULL)
INSERT [dbo].[AppUsers] ([Id], [Username], [Email], [FullName], [CreatedAt], [IsBlocked], [PasswordHash], [Role], [AvatarUrl]) VALUES (3, N'user2', N'user2@example.com', N'User Two', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, N'123456', N'User', NULL)
SET IDENTITY_INSERT [dbo].[AppUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[ChargingPoles] ON 

INSERT [dbo].[ChargingPoles] ([Id], [StationId], [PoleCode], [MaxPower], [Status], [Note], [SortOrder], [ChargerType]) VALUES (4, 8, N'A1', N'120 kW', N'Đang hoạt động', N'', 1, NULL)
SET IDENTITY_INSERT [dbo].[ChargingPoles] OFF
GO
SET IDENTITY_INSERT [dbo].[ChargingPorts] ON 

INSERT [dbo].[ChargingPorts] ([Id], [PoleId], [PortCode], [ConnectorType], [MaxPower], [Status], [Note], [SortOrder]) VALUES (4, 4, N'A1-1', NULL, NULL, N'Còn chỗ sạc', NULL, 1)
INSERT [dbo].[ChargingPorts] ([Id], [PoleId], [PortCode], [ConnectorType], [MaxPower], [Status], [Note], [SortOrder]) VALUES (5, 4, N'A1-2', NULL, NULL, N'Đang sử dụng', NULL, 2)
SET IDENTITY_INSERT [dbo].[ChargingPorts] OFF
GO
SET IDENTITY_INSERT [dbo].[ChargingStations] ON 

SET IDENTITY_INSERT [dbo].[ChargingStations] OFF
GO
SET IDENTITY_INSERT [dbo].[FavoriteStations] ON 

INSERT [dbo].[FavoriteStations] ([Id], [UserId], [StationId], [CreatedAt]) VALUES (3, 1005, 28, CAST(N'2026-04-22T00:19:10.1364237' AS DateTime2))
INSERT [dbo].[FavoriteStations] ([Id], [UserId], [StationId], [CreatedAt]) VALUES (4, 1005, 27, CAST(N'2026-04-22T00:19:11.2107949' AS DateTime2))
INSERT [dbo].[FavoriteStations] ([Id], [UserId], [StationId], [CreatedAt]) VALUES (1002, 5, 26, CAST(N'2026-05-16T10:09:32.1861632' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FavoriteStations] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] ON 

INSERT [dbo].[PasswordResetTokens] ([Id], [UserId], [Token], [CreatedAt], [ExpiresAt], [UsedAt], [RequestedByIp]) VALUES (1, 1005, N'RfqdK46B-MX3CFE7WzoNhRUufROKas7-h1cdOYVfWFRtxgH-e6ze4Yor6PFpC7ww', CAST(N'2026-04-21T22:30:05.7649201' AS DateTime2), CAST(N'2026-04-21T23:00:05.7649843' AS DateTime2), CAST(N'2026-04-21T22:30:54.1427564' AS DateTime2), N'::1')
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[RouteHistories] ON 

SET IDENTITY_INSERT [dbo].[RouteHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[StationRegistrationRequests] ON 

SET IDENTITY_INSERT [dbo].[StationRegistrationRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[StationReviews] ON 

INSERT [dbo].[StationReviews] ([Id], [StationId], [Rating], [Comment], [UserName], [CreatedAt], [UpdatedAt]) VALUES (9, 28, 1, N'Tốt', N'user1', CAST(N'2026-03-28T14:00:32.0163793' AS DateTime2), CAST(N'2026-05-23T08:22:48.6928301' AS DateTime2))
INSERT [dbo].[StationReviews] ([Id], [StationId], [Rating], [Comment], [UserName], [CreatedAt], [UpdatedAt]) VALUES (10, 28, 5, N'kakak', N'user1', CAST(N'2026-03-28T14:00:41.4010652' AS DateTime2), NULL)
INSERT [dbo].[StationReviews] ([Id], [StationId], [Rating], [Comment], [UserName], [CreatedAt], [UpdatedAt]) VALUES (11, 26, 4, N'Lỗi nhiều', N'user1', CAST(N'2026-03-30T15:41:38.8609688' AS DateTime2), CAST(N'2026-05-23T08:23:11.4919142' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StationReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportRequests] ON 

INSERT [dbo].[SupportRequests] ([Id], [SenderUserId], [SenderUserName], [FullName], [Email], [PhoneNumber], [Subject], [Message], [Status], [IsRead], [CreatedAt], [ReadAt], [ResolvedAt], [AdminReply], [LastStatusChangedAt], [IsUserSeen], [UserSeenAt]) VALUES (1, 1005, N'toan', N'Trung', N'nguyentoan250105@gmail.com', N'0982092349', N'Tôi cần xóa yêu cầu', N'add', N'Mới', 0, CAST(N'2026-04-21T22:40:19.5694996' AS DateTime2), NULL, NULL, NULL, CAST(N'2026-04-21T22:40:19.5695499' AS DateTime2), 1, NULL)
INSERT [dbo].[SupportRequests] ([Id], [SenderUserId], [SenderUserName], [FullName], [Email], [PhoneNumber], [Subject], [Message], [Status], [IsRead], [CreatedAt], [ReadAt], [ResolvedAt], [AdminReply], [LastStatusChangedAt], [IsUserSeen], [UserSeenAt]) VALUES (2, 5, N'user', N'Toàn', N'nguyentoan250105@gmail.com', N'0982092349', N'Tôi cần xóa yêu cầu', N'ádsadsda', N'Mới', 0, CAST(N'2026-05-16T10:55:52.2777737' AS DateTime2), NULL, NULL, NULL, CAST(N'2026-05-16T10:55:52.2778312' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[SupportRequests] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AppUsers_Email]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AppUsers_Email] ON [dbo].[AppUsers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AppUsers_Username]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AppUsers_Username] ON [dbo].[AppUsers]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChargingPoles_StationId_PoleCode]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ChargingPoles_StationId_PoleCode] ON [dbo].[ChargingPoles]
(
	[StationId] ASC,
	[PoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChargingPorts_PoleId_PortCode]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ChargingPorts_PoleId_PortCode] ON [dbo].[ChargingPorts]
(
	[PoleId] ASC,
	[PortCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChargingStations_IsVisible_MaintenanceFeeStatus_Status]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChargingStations_IsVisible_MaintenanceFeeStatus_Status] ON [dbo].[ChargingStations]
(
	[is_visible] ASC,
	[maintenance_fee_status] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChargingStations_OwnerUserId_MaintenancePaidUntil]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChargingStations_OwnerUserId_MaintenancePaidUntil] ON [dbo].[ChargingStations]
(
	[OwnerUserId] ASC,
	[MaintenancePaidUntil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChargingStations_PublicBusinessStatus]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChargingStations_PublicBusinessStatus] ON [dbo].[ChargingStations]
(
	[system_status] ASC,
	[operation_status] ASC,
	[maintenance_fee_status] ASC,
	[is_visible] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FavoriteStations_StationId]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_FavoriteStations_StationId] ON [dbo].[FavoriteStations]
(
	[StationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FavoriteStations_UserId_StationId]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FavoriteStations_UserId_StationId] ON [dbo].[FavoriteStations]
(
	[UserId] ASC,
	[StationId] ASC
)
WHERE ([UserId] IS NOT NULL AND [StationId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PasswordResetTokens_Token]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PasswordResetTokens_Token] ON [dbo].[PasswordResetTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordResetTokens_UserId_ExpiresAt_UsedAt]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetTokens_UserId_ExpiresAt_UsedAt] ON [dbo].[PasswordResetTokens]
(
	[UserId] ASC,
	[ExpiresAt] ASC,
	[UsedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransactions_PayOsOrderCode]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PaymentTransactions_PayOsOrderCode] ON [dbo].[PaymentTransactions]
(
	[PayOsOrderCode] ASC
)
WHERE ([PayOsOrderCode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransactions_StationId_PaymentType_CreatedAt]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_StationId_PaymentType_CreatedAt] ON [dbo].[PaymentTransactions]
(
	[StationId] ASC,
	[PaymentType] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransactions_UserId_PaymentType_Status_CreatedAt]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_UserId_PaymentType_Status_CreatedAt] ON [dbo].[PaymentTransactions]
(
	[UserId] ASC,
	[PaymentType] ASC,
	[Status] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RouteHistories_ShareToken]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RouteHistories_ShareToken] ON [dbo].[RouteHistories]
(
	[ShareToken] ASC
)
WHERE ([ShareToken] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RouteHistories_UserId_IsFavorite_LastUsedAt_UpdatedAt]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_RouteHistories_UserId_IsFavorite_LastUsedAt_UpdatedAt] ON [dbo].[RouteHistories]
(
	[UserId] ASC,
	[IsFavorite] ASC,
	[LastUsedAt] ASC,
	[UpdatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_station_activity_logs_station_id_created_at]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_station_activity_logs_station_id_created_at] ON [dbo].[station_activity_logs]
(
	[station_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_station_activity_logs_user_id_action_type_created_at]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_station_activity_logs_user_id_action_type_created_at] ON [dbo].[station_activity_logs]
(
	[user_id] ASC,
	[action_type] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StationOperationRequests_StationId_Status_CreatedAt]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_StationOperationRequests_StationId_Status_CreatedAt] ON [dbo].[StationOperationRequests]
(
	[StationId] ASC,
	[Status] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StationRegistrationRequests_PayOsOrderCode]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StationRegistrationRequests_PayOsOrderCode] ON [dbo].[StationRegistrationRequests]
(
	[PayOsOrderCode] ASC
)
WHERE ([PayOsOrderCode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StationRegistrationRequests_UserId_ApprovalStatus_PaymentStatus_CreatedAt]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_StationRegistrationRequests_UserId_ApprovalStatus_PaymentStatus_CreatedAt] ON [dbo].[StationRegistrationRequests]
(
	[UserId] ASC,
	[ApprovalStatus] ASC,
	[PaymentStatus] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StationReviews_StationId]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_StationReviews_StationId] ON [dbo].[StationReviews]
(
	[StationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SupportRequests_Status_CreatedAt]    Script Date: 28/05/2026 11:34:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_SupportRequests_Status_CreatedAt] ON [dbo].[SupportRequests]
(
	[Status] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (N'') FOR [Username]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (N'') FOR [PasswordHash]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (N'') FOR [Role]
GO
ALTER TABLE [dbo].[ChargingPoles] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ChargingStations] ADD  CONSTRAINT [DF_ChargingStations_MonthlyMaintenanceFee]  DEFAULT ((10000)) FOR [MonthlyMaintenanceFee]
GO
ALTER TABLE [dbo].[ChargingStations] ADD  CONSTRAINT [DF_ChargingStations_MaintenancePaymentStatus]  DEFAULT (N'Chưa đến hạn') FOR [MaintenancePaymentStatus]
GO
ALTER TABLE [dbo].[ChargingStations] ADD  CONSTRAINT [DF_ChargingStations_system_status]  DEFAULT (N'approved') FOR [system_status]
GO
ALTER TABLE [dbo].[ChargingStations] ADD  CONSTRAINT [DF_ChargingStations_operation_status]  DEFAULT (N'active') FOR [operation_status]
GO
ALTER TABLE [dbo].[ChargingStations] ADD  CONSTRAINT [DF_ChargingStations_maintenance_fee_status]  DEFAULT (N'active') FOR [maintenance_fee_status]
GO
ALTER TABLE [dbo].[ChargingStations] ADD  CONSTRAINT [DF_ChargingStations_is_visible]  DEFAULT ((1)) FOR [is_visible]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  CONSTRAINT [DF_PasswordResetTokens_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  CONSTRAINT [DF_PaymentTransactions_PaymentType]  DEFAULT (N'Phí kích hoạt trạm') FOR [PaymentType]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  CONSTRAINT [DF_PaymentTransactions_Status]  DEFAULT (N'Đang chờ thanh toán') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  CONSTRAINT [DF_PaymentTransactions_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  CONSTRAINT [DF_PaymentTransactions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_TotalDistanceKm]  DEFAULT ((0)) FOR [TotalDistanceKm]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_FirstLegKm]  DEFAULT ((0)) FOR [FirstLegKm]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_VehicleRangeKm]  DEFAULT ((0)) FOR [VehicleRangeKm]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_StartBattery]  DEFAULT ((0)) FOR [StartBattery]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_ReserveBattery]  DEFAULT ((0)) FOR [ReserveBattery]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_MaxDetourKm]  DEFAULT ((0)) FOR [MaxDetourKm]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_StopCount]  DEFAULT ((0)) FOR [StopCount]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_IsFavorite]  DEFAULT ((0)) FOR [IsFavorite]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_IsShared]  DEFAULT ((0)) FOR [IsShared]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RouteHistories] ADD  CONSTRAINT [DF_RouteHistories_UpdatedAt]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[station_activity_logs] ADD  CONSTRAINT [DF_station_activity_logs_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[StationOperationRequests] ADD  CONSTRAINT [DF_StationOperationRequests_Status]  DEFAULT (N'Chờ duyệt') FOR [Status]
GO
ALTER TABLE [dbo].[StationOperationRequests] ADD  CONSTRAINT [DF_StationOperationRequests_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StationRegistrationRequests] ADD  CONSTRAINT [DF_StationRegistrationRequests_Latitude]  DEFAULT ((0)) FOR [Latitude]
GO
ALTER TABLE [dbo].[StationRegistrationRequests] ADD  CONSTRAINT [DF_StationRegistrationRequests_Longitude]  DEFAULT ((0)) FOR [Longitude]
GO
ALTER TABLE [dbo].[StationRegistrationRequests] ADD  CONSTRAINT [DF_StationRegistrationRequests_InitialPoleCount]  DEFAULT ((0)) FOR [InitialPoleCount]
GO
ALTER TABLE [dbo].[StationRegistrationRequests] ADD  CONSTRAINT [DF_StationRegistrationRequests_ApprovalStatus]  DEFAULT (N'Chờ duyệt') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[StationRegistrationRequests] ADD  CONSTRAINT [DF_StationRegistrationRequests_PaymentStatus]  DEFAULT (N'Chưa thanh toán') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[StationRegistrationRequests] ADD  CONSTRAINT [DF_StationRegistrationRequests_FeeAmount_50000]  DEFAULT ((50000)) FOR [FeeAmount]
GO
ALTER TABLE [dbo].[StationRegistrationRequests] ADD  CONSTRAINT [DF_StationRegistrationRequests_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  CONSTRAINT [DF_SupportRequests_Status]  DEFAULT (N'Mới') FOR [Status]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  CONSTRAINT [DF_SupportRequests_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  CONSTRAINT [DF_SupportRequests_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  CONSTRAINT [DF_SupportRequests_IsUserSeen]  DEFAULT ((1)) FOR [IsUserSeen]
GO
ALTER TABLE [dbo].[ChargingPoles]  WITH CHECK ADD  CONSTRAINT [FK_ChargingPoles_ChargingStations_StationId] FOREIGN KEY([StationId])
REFERENCES [dbo].[ChargingStations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChargingPoles] CHECK CONSTRAINT [FK_ChargingPoles_ChargingStations_StationId]
GO
ALTER TABLE [dbo].[ChargingPorts]  WITH CHECK ADD  CONSTRAINT [FK_ChargingPorts_ChargingPoles_PoleId] FOREIGN KEY([PoleId])
REFERENCES [dbo].[ChargingPoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChargingPorts] CHECK CONSTRAINT [FK_ChargingPorts_ChargingPoles_PoleId]
GO
ALTER TABLE [dbo].[FavoriteStations]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteStations_AppUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteStations] CHECK CONSTRAINT [FK_FavoriteStations_AppUsers_UserId]
GO
ALTER TABLE [dbo].[FavoriteStations]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteStations_ChargingStations_StationId] FOREIGN KEY([StationId])
REFERENCES [dbo].[ChargingStations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteStations] CHECK CONSTRAINT [FK_FavoriteStations_ChargingStations_StationId]
GO
ALTER TABLE [dbo].[StationReviews]  WITH CHECK ADD  CONSTRAINT [FK_StationReviews_ChargingStations_StationId] FOREIGN KEY([StationId])
REFERENCES [dbo].[ChargingStations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StationReviews] CHECK CONSTRAINT [FK_StationReviews_ChargingStations_StationId]
GO
USE [master]
GO
