<div class="station-my-tabs" id="stationMyTabs">
    <button type="button"
            class="station-my-tabs__item active"
            data-tab-target="station-tab-list">
        <span>Danh sách trạm của tôi</span>
    </button>

    <button type="button"
            class="station-my-tabs__item"
            data-tab-target="station-tab-registrations">
        <span>Hồ sơ đăng ký</span>
    </button>

    <button type="button"
            class="station-my-tabs__item"
            data-tab-target="station-tab-history">
        <span>Nhật ký thao tác</span>
    </button>
</div>